[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CopulaInference"]
	path = CopulaInference
	url = https://github.com/cran/CopulaInference
[submodule "GaussianHMM1d"]
	path = GaussianHMM1d
	url = https://github.com/cran/GaussianHMM1d
[submodule "GenHMM1d"]
	path = GenHMM1d
	url = https://github.com/cran/GenHMM1d
[submodule "MixedIndTests"]
	path = MixedIndTests
	url = https://github.com/cran/MixedIndTests
